In [3]:
# Data Science Tools and Ecosystem

In [5]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

In [9]:
#Objectives:

#List popular languages for Data Science
#Describe common libraries used in Data Science
#Demonstrate basic arithmetic operations in Python
#Convert units of measurement using Python
#Create and format markdown cells in Jupyter Notebooks

In [ ]:
# Some of the popular languages that Data Scientists use are:

#Python
#R
#SQL
#Julia

In [ ]:
# Some of the commonly used libraries used by Data Scientists include:

#Pandas
#NumPy
#Matplotlib
#Scikit-learn
#keras
#tensorflow

In [11]:
#Datascience tools are 
#Jupyter Notebook, Rstudio, Appache Zeppelin

In [12]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [15]:
# Arithmetic expression to multiply then add integers
(16 * 4) + 5

69

In [16]:
#Create a code cell to multiply and add numbers

In [17]:
(3*18)+ 14

68

In [14]:
#Code to convert minutes to hours
def code_to_convert(a):
    return a/60
code_to_convert(200)

3.3333333333333335